form(action="")
  p
    label Title
    input(type="text", value="A Brief History of Time")
  p
    label Author
    input(type="text", value="Stephen Hawking")
  p
    label Genre
    input(type="text", value="Non Fiction")
  p
    label First Published
    input(type="text", value="1988")
  p
    input(type="submit" value=submit_text)