extends ../layout

block content
  h1=`Book: ${title}`
  form(action="../books/" + book.id + '?_method=PUT', method="post", enctype="application/x-www-form-urlencoded")
    include book_form
    input(type="hidden", name="_method", value="PUT")
    p
      input(type="submit" value="Update")
  h2 Loan History
  include ../loans/loan_table