extends ../layout

block content
  h1=`Book: ${title}`
  form(action="../books/" + book.id + '?_method=PUT', method="post")
    include book_form
    p
      input(type="submit" value="Update")
  h2 Loan History
  include ../loans/loan_table