extends ../layout

block content
  h1=title
  p
    a.button(href="../books/add") Create New Book
  p Filters 
    a(href="/") All 
    ||
    a(href="/")  Overdue 
    ||
    a(href="/")  Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
      tbody
        tr
          td
            a(href="../books/1") Harry Potter and the Philosopher's Stone
          td J.K. Rowling
          td Fantasy
          td 1998
        tr
          td
            a(href="../books/2") Harry Potter and the Chamber of Secrets
          td J.K. Rowling
          td Fantasy
          td 1998