p Filters 
  a(href="./?filter=all") All 
  ||
  a(href="./?filter=overdue")  Overdue 
  ||
  a(href="./?filter=checked_out")  Checked Out
.flex-container
  form.search(action="")
    input#filter(type="search", name="")
    input(type="submit", value="Search")
    
  .pagination
    a.btn(href="http://") Previous
    a.active.btn(href="http://") 1
    a.btn(href="http://") 2
    a.btn(href="http://") 3
    a.btn(href="http://") Next