extends ../layout

block content
  p
    a.button(href="/") Create New Patron
  table
    thead
      tr
        th Name
        th Address
        th Email
        th Library ID
        th Zip
    tbody
      tr
        td
          a(href="/") Andrew Chalkey
        td 1234 NE 20st
        td dsfdf@dfsf.cvss
        td MCL1001
        td 90210
      tr
        td
          a(href="/") Andrew Chalkey
        td 1234 NE 20st
        td dsfdf@dfsf.cvss
        td MCL1001
        td 90210