form(action="", method="post")
  p
    label First Name
    input(type="text" value="Andrew")
  p
    label Last Name
    input(type="text", name="Chalkley")
  p
    label(for="address") Address
    input#address(type="text" value="123 Easy St")
  p
    label(for="email") Email
    input#email(type="email" value="dadsaf@dasf.com")
  p
    label(for="library_id") Library Id
    input#library_id(type="text" value="123 Easy St")
  p
    label(for="zip_code") Zip Code
    input#zip_code(type="text" value="123 Easy St")
  p
    input(type="submit", value=submit_text)